<div>
    <h2>Bienvenido al panel del administrador!</h2>
    <p>Email: {{user.email}}</p>
    <p>Rol: {{user.role}}</p>
    <div>
        <form action="/api/sessions/logout" method="POST">
            <button type="submit">Cerrar sesión</button>
        </form>
    </div>
    <h1>RealTimeProducts</h1>
    <section>
        <h2>Añadir productos</h2>
        <label for="title">Nombre del producto</label>
        <input type="text" id="title" placeholder="Ej: Harina, jugo, huevos." required>
        <label for="description">Descripción del producto</label>
        <input type="text" id="description" placeholder="Ej: 0000, naranja, colorados." required>
        <label for="category">Categoría del producto</label>
        <input type="text" id="category" placeholder="Ej: Almacen, destilados, limpieza." required>
        <label for="code">Código del producto</label>
        <input type="text" id="code" placeholder="Alfanumérico de 6 dígitos" required>
        <label for="price">Precio del producto</label>
        <input type="text" id="price" placeholder="Precio en AR$" required>        
        <label for="stock">Stock del producto</label>
        <input type="text" id="stock" placeholder="Stock a ingresar" required>
        <button onclick="sendDataCreate()">Añadir producto</button>
    </section>
    <section>
        <h2>Eliminar productos</h2>
        <label for="delete-id">Ingrese el ID del producto a eliminar</label>
        <input type="text" id="delete-id" required>
        <button onclick="sendDataDelete()">Eliminar producto</button>
    </section>
    <section>
        {{#each products.docs}}
            <div>
                <h3>{{this.title}} (code: <span id="code">{{this.code}}</span>)</h3>
                <h4>Categoría: {{this.category}}</h4>

                <p>{{this.description}}</p>
                <p>Precio: ${{this.price}}</p>
            </div>
            <div>
                <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
            </div>
        {{/each}}
    </section>
    <div>
        {{#if prevLink}}
            <a href="{{prevLink}}">Página anterior</a>
        {{/if}}
        {{page}}
        {{#if nextLink}}
            <a href="{{nextLink}}">Página siguiente</a>
        {{/if}}
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>